{{template "base" .}}

{{define "title"}}Auto Configuration{{end}}
{{define "extrahead"}}
  <style type="text/css">
      .center {
          text-align: center;
      }
  </style>
{{end}}
{{define "bodyhead"}}
  <h1>Auto Configuration</h1>
{{end}}
{{define "content"}}
  <div class="center">
    <a href="/autoconf/perform" class="pure-button pure-button-primary">Connect to NDN Testbed through the closest NDN
      router.</a>
  </div>
  {{if .StatueMsg}}
    <p class="center">{{.StatueMsg}}</p>
  {{end}}
{{end}}
