[core]

  # Logging level
  log_level = "TRACE"

[faces]

  # Size of queues in the face system
  queue_size = 1024

  # Enables or disables congestion marking
  congestion_marking = true

  [faces.ethernet]

    # EtherType to use for NDN
    ethertype = 0x8624

    # MAC address used for multicast Ethernet faces
    multicast_address = "01:00:5e:00:17:aa"

  [faces.udp]

    # Port used for unicast UDP faces
    port_unicast = 6363

    # Port used for multicast UDP faces
    port_multicast = 56363

    # IPv4 address used for multicast UDP faces
    multicast_address_ipv4 = "224.0.23.170"

    # IPv6 address used for multicast UDP faces
    multicast_address_ipv6 = "ff02::114"

    # Lifetime of on-demand faces (in seconds)
    lifetime = 600

  [faces.unix]

    # Location of the socket file
    socket_path = "/run/nfd.sock"

[fw]

  # Size of queues in the forwarding system
  queue_size = 1024

[mgmt]

  # Controls whether management over /localhop is enabled or disabled
  allow_localhop = false

[tables]

  # Size of queues in the table system
  queue_size = 1024

  [tables.content_store]

    # Capacity of each forwarding thread's content store (in number of Data packets). Note that the
    # total capacity of all content stores in the forwarder will be the number of threads
    # multiplied by this value. This is the startup configuration value and can be changed at
    # runtime via management.
    capacity = 1024

    # Cache replacement policy to use in each thread's content store.
    replacement_policy = "lru"

  [tables.dead_nonce_list]

    # Lifetime of entries in the Dead Nonce List (milliseconds)
    lifetime = 6000

  [tables.network_region]

    # List of prefixes that the forwarder is in the producer region for
    regions = []

  [tables.rib]

    # Enables or disables auto prefix propagation
    auto_prefix_propagation = false
