{{template "base" .}}

{{define "title"}}Faces{{end}}
{{define "bodyhead"}}
  <h1>Faces</h1>
{{end}}
{{define "content"}}
  <div class="pure-g">
    <div id="left-side" class="pure-u-1-2">
      <br/>
      <form class="pure-form">
        <input type="text" id="face_search" class="pure-input-3-4" onkeyup="do_face_search()"
               onkeydown="return event.key !== 'Enter';" placeholder="Search Faces..." title="Type in a keyword">
      </form>
      <br/>
      <table class="pure-table">
        <thead>
        <tr>
          <th>Face ID</th>
          <th>URI</th>
          <th hidden>Local URI</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody id="div_face_list">
        {{$rowClass := "pure-table-odd"}}
        {{range .FaceList}}
          <tr class="{{$rowClass}}">
            <td><a href="/faces?face_id={{.FaceID}}">{{.FaceID}}</a></td>
            <td>{{.Uri}}</td>
            <td hidden>{{.LocalUri}}</td>
            <td>
              <form class="pure-form" action="/faces/remove" method="post">
                <input type="hidden" name="face_id" value="{{.FaceID}}">
                <button type="submit">Remove</button>
              </form>
            </td>
          </tr>
          {{if eq $rowClass "pure-table-odd"}}{{$rowClass = ""}}{{else}}{{$rowClass = "pure-table-odd"}}{{end}}
        {{end}}
        </tbody>
      </table>
      <form class="pure-form" action="/faces/add" method="post">
        <p>
          <label for="ip">IP Addr</label>
          <input type="text" name="ip" id="ip"/>
        </p>
        <p>
          <button type="submit">Create</button>
        </p>
      </form>
      {{if ne .StatusCode 0}}
        <p>{{.StatusCode}} {{.StatusMsg}}</p>
      {{end}}
    </div>
    <div id="right-side" class="pure-u-1-2">
      {{if .FaceData}}
        <h2>Face {{.FaceData.FaceID}}</h2>
        <table class="pure-table">
          <tr class="pure-table-odd">
            <td><b>Local</b></td>
            <td>{{.FaceData.LocalUri}}</td>
          </tr>
          <tr>
            <td><b>Remote</b></td>
            <td>{{.FaceData.Uri}}</td>
          </tr>
          <tr class="pure-table-odd">
            <td><b>MTU</b></td>
            <td>{{.FaceData.Mtu}}</td>
          </tr>
          <tr>
            <td><b>RX Interest</b></td>
            <td>{{.FaceData.NInInterests}}</td>
          </tr>
          <tr class="pure-table-odd">
            <td><b>RX Data</b></td>
            <td>{{.FaceData.NInData}}</td>
          </tr>
          <tr>
            <td><b>TX Interest</b></td>
            <td>{{.FaceData.NOutInterests}}</td>
          </tr>
          <tr class="pure-table-odd">
            <td><b>TX Data</b></td>
            <td>{{.FaceData.NOutData}}</td>
          </tr>
        </table>
      {{end}}
      {{if .RouteData}}
        <h2>FIB Entries</h2>
        <table class="pure-table">
          <thead>
          <tr>
            <th>Route</th>
            <th>Cost</th>
          </tr>
          </thead>
          <tbody>
          {{$rowClass := "pure-table-odd"}}
          {{range .RouteData}}
            <tr class="{{$rowClass}}">
              <td><a href="/routing?name={{.Route}}">{{.Route}}</a></td>
              <td>{{.Cost}}</td>
            </tr>
            {{if eq $rowClass "pure-table-odd"}}{{$rowClass = ""}}{{else}}{{$rowClass = "pure-table-odd"}}{{end}}
          {{end}}
          </tbody>
        </table>
      {{end}}
    </div>
  </div>
{{end}}
