{{template "base" .}}

{{define "title"}}Forwarder Status{{end}}
{{define "bodyhead"}}
  <h1>Forwarder Status</h1>
{{end}}
{{define "content"}}
  <table class="pure-table">
    <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{$rowClass := "pure-table-odd"}}
    {{range $key, $value := .Status}}
      <tr class="{{$rowClass}}">
        <td>{{$key}}</td>
        <td>{{$value}}</td>
      </tr>
      {{if eq $rowClass "pure-table-odd"}}{{$rowClass = ""}}{{else}}{{$rowClass = "pure-table-odd"}}{{end}}
    {{end}}
    </tbody>
  </table>
{{end}}
