{{template "base" .}}

{{define "title"}}YaNFD Control Center{{end}}
{{define "extrahead"}}
  <style type="text/css">
      #green-text {
          color: green;
      }

      #red-text {
          color: red;
      }

      .center-text {
          text-align: center;
          font-size: xx-large;
      }
  </style>
{{end}}
{{define "bodyhead"}}
  <h1>YaNDN Control Center</h1>
{{end}}
{{define "content"}}
  <div id="green-text" class="center-text">YaNFD is running.</div>
{{end}}
