{{template "base" .}}

{{define "title"}}Strategy List{{end}}
{{define "bodyhead"}}
  <h1>Strategy List</h1>
{{end}}
{{define "content"}}
  <table class="pure-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Strategy</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{$rowClass := "pure-table-odd"}}
    {{range .Strategies}}
      <tr class="{{$rowClass}}">
        <td>{{.Name}}</td>
        <td>{{.Strategy}}</td>
        <td>
          <form action="/strategies/unset" method="post">
            <input type="hidden" name="name" value={{.Name}}>
            <button type="submit">Unset</button>
          </form>
        </td>
      </tr>
      {{if eq $rowClass "pure-table-odd"}}{{$rowClass = ""}}{{else}}{{$rowClass = "pure-table-odd"}}{{end}}
    {{end}}
    </tbody>
  </table>
  <form class="pure-form" action="/strategies/set" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
      <label for="strategy">Strategy</label>
      <select name="strategy" id="strategy">
        <option value="/localhost/nfd/strategy/multicast">Multicast</option>
        <option value="/localhost/nfd/strategy/best-route">Best Route</option>
        <option value="/localhost/nfd/strategy/access">Access Router</option>
        <option value="/localhost/nfd/strategy/asf">ASF (Adaptive SRTT-based Forwarding)</option>
        <option value="/localhost/nfd/strategy/self-learning">Self-Learning</option>
        <option value="/localhost/nfd/strategy/ncc">NCC (CCNx default)</option>
      </select>
    </p>
    <p>
      <button type="submit">Set</button>
    </p>
  </form>
  {{if ne .StatusCode 0}}
    <p>{{.StatusCode}} {{.StatusMsg}}</p>
  {{end}}
{{end}}
