name: Test
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Go imports check
        uses: zjkmxy/golang-github-actions@v1.1.1
        with:
          run: imports
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: go test ./...
        env:
          CGO_ENABLED: 0
